 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #262626;
     color: white;
     font-family: 'Montserrat', sans-serif;
 }

 h1 {
     position: fixed;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     height: auto;
     text-align: center;
     background: #262626;
     font-weight: bold;
     font-family: 'Aleo', serif;
     border-bottom: 2px solid white;
     color: cyan;
     padding: 6px;
 }

 a {
     color: cyan;
     outline: none;
 }

 #img-div {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     justify-content: center;
     margin-top: 80px;
 }

 #image {
     width: 60%;
     height: auto;
     max-width: 360px;
     margin: 10px;
 }

 #img-caption {
     width: 60%;
     max-width: 360px;
     margin: auto;
     padding: 2px;
 }

 p,
 ul {
     width: 85%;
     max-width: 800px;
     padding: 10px;
     margin: auto;
     border-radius: 10px;
     font-size: large;
     line-height: 25px;
     text-indent: 40px;
 }

 ul {
     text-indent: 0;
     padding: 20px;
     margin-top: -20px;

     li {
         margin: 6px;
     }
 }

 h2 {
     font-size: xx-large;
     width: 85%;
     max-width: 800px;
     padding: 10px;
     margin: auto;
     font-family: 'Monda', sans-serif;
     color: cyan;
 }

 footer {
     a {
         text-decoration: none;
     }

     margin: 4px;
 }